decorator==4.0.10
feedparser==5.2.1
future==0.16.0
lxml==3.6.4
oauthlib==2.0.4
praw==3.5.0
pygame==1.9.3
pygeoip==0.3.2
PyJWT==1.5.3
PyQt5==5.8.2
PySocks==1.6.7
python-twitter==3.3
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.8.0
sip==4.19.2
six==1.10.0
twilio==6.6.3
update-checker==0.11
